* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

i {
    vertical-align: middle;
}

.icone-header {
    font-size: 20px;
}

.title {
    font-family: 'Tilt Prism', cursive;
}

.icone {
    margin-right: 2px;
}

.destaque, .destaque-meio {
    font-family: 'Caprasimo', cursive;
    padding-bottom: 16px;
}

.destaque-meio {
    padding-top: 24px;
}

#about {
    margin-top: 24px;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
    background-color: #FBF8DD;
}

header {
    padding: 30px 0;
    background-color: rgb(185, 9, 9);
    color: white;
}

header nav li {
    display: inline;
    margin-left: 32px;
    font-size: 20px;
}

header nav li a {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

header .container {
    justify-content: space-around;
}


section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    }

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

.store-front {
    margin-right: 32px;
}

section {
    color: rgb(185, 9, 9);
}

section p {
    margin-bottom: 8px;
    color: black;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.contact-methods h3 {
    margin-bottom: 0;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height:180px;
}

section h3 {
    margin-bottom: 16px;
}

form button{
    background-color: rgb(185, 9, 9);
    color: #ffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 16px;
}
form button:hover{
    background-color: rgb(228, 13, 13);
}
input:focus, textarea:focus {
    outline-color: rgb(0, 0, 0);
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#catalogue .container {
    display: block;
}

.catalogo {
    padding-bottom: 16px;
}
.albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.albums img {
    max-width: 100%;
}

.albums li {
    display: inline;
    margin-right: 8px;
}
.albums li a {
    text-decoration: none;
}

.albums h4 {
    color: black;
}

.albums h4 {
    font-weight:900;
    font-size: 20px;
}

.albums p {
    color: #464545;
}

footer {
    background-color: rgb(185, 9, 9);
    color: #bdbdbd;
    padding: 16px;
    margin-bottom: -64px;
}

button {
    display: flex;
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #FBF8DD;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
.btn-comprar {
    margin-bottom: 8px;
    background-color: #03a360;
}

.btn-comprar:hover {
    background-color: #2ed38e;
}

.btn-carrinho {
    background-color: rgb(185, 9, 9);
}

.btn-carrinho:hover {
    background-color: rgb(231, 29, 29);
}


@media (max-width: 767px) {
    header h1 {
        margin-bottom: 16px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav li {
        margin-left: 0px;
    }
    
    .container {
        max-width: 90%;
        flex-direction: column;
    }

    .store-front {
        max-width: 100%;
        padding-bottom: 16px;
        padding-top: 0;
    }

    .albums {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-methods {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }

    footer {
        background-color: rgb(185, 9, 9);
        color: #bdbdbd;
        padding: 16px;
    }

    .contact-methods h3 {
        padding: 0;
        margin-bottom: 8px;
    }

    .social-links {
        padding-bottom: 24px;
    }

    .btn-carrinho {
        margin-bottom: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 80%;
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 16px;
    }

    .store-front {
        max-width: 100%;
        padding-bottom: 16px;
        padding-top: 0;
    }

    .albums {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-methods {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .contact-methods h3 {
        padding: 0;
        margin-bottom: 8px;
    }

    .social-links {
        padding-bottom: 24px;
    }

    .btn-carrinho {
        margin-bottom: 32px;
    }
}
